<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9768b3">  <td>20/08/06 23:31:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:com.dbs.support.drivers.TestRunner@80503]">runScenario</td> 
  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>20/08/06 23:31:34</td>   <td>15152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:com.dbs.support.drivers.TestRunner@80503]">runScenario</td> 
  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>20/08/06 23:31:49</td>   <td>30098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:com.dbs.support.drivers.TestRunner@80503]">runScenario</td> 
  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>20/08/06 23:32:04</td>   <td>45367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:com.dbs.support.drivers.TestRunner@80503]">runScenario</td> 
  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>20/08/06 23:32:19</td>   <td>60344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:com.dbs.support.drivers.TestRunner@80503]">runScenario</td> 
  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>20/08/06 23:32:33</td>   <td>74303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:com.dbs.support.drivers.TestRunner@80503]">runScenario</td> 
  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>20/08/06 23:31:19</td>   <td>-250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.dbs.support.drivers.TestRunner@80503]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>20/08/06 23:32:49</td>   <td>90147</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.dbs.support.drivers.TestRunner@80503]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024542466</td>   <td></td> </tr>
</table>
